<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>FintechLabs: Processing Implicit Callback</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Sans">
    <link rel="stylesheet" type="text/css" href="/css/layout.css">



</head>
<body>
    <div class="pageHeader container-fluid">
        <div class="row-fluid">
            <div class="col-md-8">
                <a href="index.html"><img src="/images/FinTechLabs.io.png"></a>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-md-6 col-md-offset-3 center-block center-text">
                <h1 class="text-center">请等待...</h1>
                <h2 class="text-center">处理来自授权服务器的响应<sup><span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="服务器应该作为URI片段的一部分返回结果。这些数据通常留在浏览器中，需要显式地发送到测试框架以进行进一步处理." data-placement="right"></span></sup></h2>
                <p id="complete" class="bg-info collapse">响应已发送到服务器进行处理。你可返回 <a href="">测试结果页面.</a></p>
            </div>
        </div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <footer class="pageFooter">
        <span class="muted">开放银行接口测试案例</span>
    </footer>

	<script type="text/javascript" th:inline="javascript">
		$(function() {

			var hash = window.location.hash;

			var returnUrl = [[${returnUrl}]];

			$.post({
				url: [[${implicitSubmitUrl}]],
				data: hash,
				contentType: "text/plain", // this will be parsed on the server side, no need to wrap it
			}).always(function () {
				$('#complete a').attr('href', returnUrl); // provide the link only after the page is rendered.
				$('#complete').show();
				// add a hidden tag so that Selenium can detect we're done processing
				$('#complete').append('<span id="submission_complete" class="hidden"></span>');
			});


		});
    </script>


</body>
</html>
